<%= simple_form_for(@site_setting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :schoolyear %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
