<p id="notice"><%= notice %></p>

<p>
  <strong>Diet:</strong>
  <%= @dietdocument.diet %>
</p>

<%= link_to 'Edit', edit_dietdocument_path(@dietdocument) %> |
<%= link_to 'Back', dietdocuments_path %>
