<% content_for :title do %>About<% end %>
<h3>Food Services Utility Site</h3>
<p>This site is for AUHSD Food Services only</p>
<p>If you need access, please contact David Henderson: <a href="mailto:henderson_d@auhsd.us?Subject=FS Utility">henderson_d@auhsd.us</a></p>
