<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-38 dropdown">
	<a title="Documents" href="#" data-toggle="dropdown" class="dropdown-toggle">Documents <span class="caret"></span></a>
  <ul role="menu" class=" dropdown-menu">
    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
      <a title="Nutrition Specification" href="/foodvendors">Nutrition Specification</a></li>
    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
      <a title="Worksheets" href="/worksheets">WorkSheets</a></li>
    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
      <a title="Recipes" href="/recipes" target="_blank">Recipes</a></li>
<% if canView[:documents][:new] %>
<li class="divider"></li>
<li id="menu-item-43"   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-43 dropdown-submenu">
      <a title="Page A" href="#" data-toggle="dropdown" class="dropdown-toggle">Setup </a>
	<ul role="menu" class=" dropdown-menu">
		<li id="menu-item-1700" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1700"><a title="New Vendor" href="foodvendors/new">New Vendor </a></li>
	</ul>
</li>
<% end %>
</ul>
</li>
